<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TodoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <header>
        <nav id="navBar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="row w-100">
                <div class="col-md-6 text-left">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserId") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="TodoModels" asp-action="Index"><i class="fas fa-check-square"></i> Todo List</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="navbar-nav float-right">
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserId") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Register"><i class="fas fa-book"></i> Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Profile"><i class="fas fa-user-edit"></i> Profile</a>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Auth" asp-action="Logout">
                                    <a class="nav-link text-light" type="submit" asp-area="" asp-controller="Auth" asp-action="Logout"><i class="fas fa-power-off"></i> Logout</a>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: black">
        <div class="container text-center" style="color:white">
            &copy; 2021 - TodoList - Organize Your Things
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
